<!DOCTYPE html>
<html ng-app="gemStore">

	<head>
		<title>Monica's Gem Store</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="custom.css"/>
	</head>

	<body class="container" ng-init="menu=1">
		<nav class="navbar navbar-default">
		        <div class="container-fluid">
		            <div class="navbar-header">
		                <a class="navbar-brand">Marmot Gems Store</a>
		            </div>
		            <ul class="nav navbar-nav">
		                <li class="active"><a href="#" ng-click="menu=1">Store</a></li>
		                <li class="active"><a href="#" ng-click="menu=2">Add Gem</a></li>
		                <li class="active"><a href="#" ng-click="menu=3">Edit Gem</a></li>
		               
		            </ul>
		        </div>
		</nav>
				<!--  App Title  -->
		<hgroup id="app-title-wr" class="text-center">
			<h1 id="app-title">Monica's Gem Store</h1>
			<h2 id="app-subtitle">The Best Gems in the Web</h2>
		</hgroup>
	<div ng-show="menu===1" class="container" ng-controller="StoreController as store" >


		<!--  Products Container  -->
		<div class="list-group">

			<!--  Product Container  -->
			<div class="list-group-item card" ng-repeat="product in store.products | orderBy:'-price'">

				<h3 product-title></h3>

				<product-gallery></product-gallery>
				
				<product-tabs></product-tabs>
				<button ng-click="store.deleteProduct(product._id)">Delete</button>
			</div>

		</div>
	</div>
	<div ng-show="menu===2" class="container" ng-controller="NewProduct as newGemCtrl">
            <form name="newGemForm"  ng-submit="newGemForm.$valid && newGemCtrl.newGem(product);" novalidate>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" ng-model="newGemCtrl.product.name" class="form-control" id="name">
                </div>
                <div class="form-group">
                        <label for="name">Description:</label>
                        <input type="text" ng-model="newGemCtrl.product.description" class="form-control" id="description">
                </div>
                <div class="form-group">
                        <label for="name">Price:</label>
                        <input type="number" ng-model="newGemCtrl.product.price" format="currency" class="form-control" id="price">
                </div>

                <div class="form-group">
                        <label for="faces">Faces:</label>
                        <input type="text" ng-model="newGemCtrl.product.specs.faces" class="form-control" id="faces">
                </div>

                <div class="form-group">
                        <label for="color">Color:</label>
                        <input type="text" ng-model="newGemCtrl.product.specs.color" format="currency" class="form-control" id="color">
                </div>

                <div class="form-group">
                        <label for="rarity">Rarity:</label>
                        <input type="text" ng-model="newGemCtrl.product.specs.rarity" format="currency" class="form-control" id="rarity">
                </div>

                <div class="form-group">
                        <label for="shine">Shine:</label>
                        <input type="text" ng-model="newGemCtrl.product.specs.shine" format="currency" class="form-control" id="shine">
                </div>

                <div class="form-group" ng-repeat="images in newGemCtrl.product.images track by $index">
                            <label for="image">Images:</label>
                            <input type="text" ng-model="newGemCtrl.product.images[$index]" class="form-control" id="images" >
                            
                </div>

                               

                <div class="form group" pull rigth>
                    <input class="form-control btn btn-lg btn-primary" value="Enviar" type ="submit"
                    id="submit">
                </div>
            </form>
            <button ng-click="newGemCtrl.addImage();">Add image</button> <button ng-click="newGemCtrl.removeImage();">Remove image</button>
            <pre>{{newGemCtrl.product | json }}</pre>
    
    
        </div>

        <div    ng-show="menu===3" class="container" ng-controller="EditProduct as editGemCtrl">
        <form name="editGemForm"  ng-submit="editGemForm.$valid && editGemCtrl.editGem(product);" novalidate>
            
            <div class="form-group">
                        <label for="id">ID:</label>

                        <select class="form-control" ng-model="myproduct" ng-options="product.name for product in products"></select>   
                        
            </div>


                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" ng-model="myproduct.name" class="form-control" id="name">
                </div>
                <div class="form-group">
                        <label for="name">Description:</label>
                        <input type="text" ng-model="myproduct.description" class="form-control" id="description">
                </div>
                <div class="form-group">
                        <label for="name">Price:</label>
                        <input type="number" ng-model="myproduct.price" format="currency" class="form-control" id="price">
                </div>

                <div class="form-group">
                        <label for="faces">Faces:</label>
                        <input type="text" ng-model="myproduct.specs.faces" class="form-control" id="faces">
                </div>

                <div class="form-group">
                        <label for="color">Color:</label>
                        <input type="text" ng-model="myproduct.specs.color" format="currency" class="form-control" id="color">
                </div>

                <div class="form-group">
                        <label for="rarity">Rarity:</label>
                        <input type="text" ng-model="myproduct.specs.rarity" format="currency" class="form-control" id="rarity">
                </div>

                <div class="form-group">
                        <label for="shine">Shine:</label>
                        <input type="text" ng-model="myproduct.specs.shine" format="currency" class="form-control" id="shine">
                </div>

                <div class="form-group" ng-repeat="images in myproduct.images track by $index">
                            <label for="image">Images:</label>
                            <input type="text" ng-model="myproduct.images[$index]" class="form-control" id="images" >
                            
                </div>

                
            <div class="form group" pull rigth>
                <input class="form-control btn btn-lg btn-primary" value="Enviar" type ="submit"
                id="submit">
            </div>
        </form>
                    <button ng-click="editGemCtrl.addImage();">Add image</button> <button ng-click="editGemCtrl.removeImage();">Remove image</button>
        <pre>{{myproduct | json }}</pre>


    </div>

		<!--  Scripts  -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
		<script type="text/javascript" src="products.js"></script>
		<script type="text/javascript" src="app.js"></script>

	</body>

</html>